<head>
	<title>DBCASE Web</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/static/vendor/context/css/context.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/vendor/context/css/context.standalone.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/style-side.css">
<!--===============================================================================================-->
	<link th:href="@{/static/js/dist/dist/vis-network.min.css}" rel="stylesheet" type="text/css" />
<!--===============================================================================================-->
	<style>
		.size-font{
			font-size:12px;
		}
	</style>
	<div class="d-none">
		<span id="textTooltip1" th:text="#{textos.tooltip1}"></span>
		<span id="textTooltip2" th:text="#{textos.tooltip2}"></span>
		<span id="textTooltip3" th:text="#{textos.tooltip3}"></span>
		<span id="textTooltip4" th:text="#{textos.tooltip4}"></span>
		<span id="textTooltip5" th:text="#{textos.tooltip5}"></span>
		<span id="textTooltip6" th:text="#{textos.tooltip6}"></span>
		<span id="textTooltip7" th:text="#{textos.tooltip7}"></span>
		<span id="textTooltip8" th:text="#{textos.tooltip8}"></span>
		<span id="textTooltip9" th:text="#{textos.tooltip9}"></span>
	</div>
</head>