<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html"> </head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/images/bg-uni.jpg');">
			<div class="col-md-9 row">
				<div class="col-md-4 text-center">
					<img width=110 src="static/images/logo_ucm.png" alt="UCM">
				</div>
				<div class="col-md-4 text-center">
					<img width=120 src="static/images/DBCase_logo.png" alt="DBCase Web">
				</div>
				<div class="col-md-4 text-center">
					<img width=110 src="static/images/logo_fdi.png" alt="FDI">
				</div>
				<div class="col-md-12 text-center text-light h3 pt-2 pb-4 font-weight-bold">
					DBCASE Web
				</div>
				<div class="col-md-12 text-center">
					<a href="inicio">
						<button class="login100-form-btn btn">
							Iniciar Sesión
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
<div th:replace="footer.html"> </div>
</body>
</html>