<div class="textosJS d-none">
	<span id="nameText" th:text="${perfil.userAuthentication.Details.name}"></span>
	<span id="idText" th:text="${perfil.userAuthentication.Details.id}"></span>
	<span id="textGeneratedBy" th:text="#{textos.generatedBy}"></span>
	<span id="textTheme" th:text="${theme=='dark'} ? 'white' : 'dark'"></span>
	<span id="addNewAttribute" th:text="#{textos.add}"></span>
	<span id="renameEntity" th:text="#{textos.rename}"></span>
	<span id="removeEntity" th:text="#{textos.remove}"></span>
	<span id="constraints" th:text="#{textos.constraints}"></span>
	<span id="tableUnique" th:text="#{textos.tableUnique}"></span>
	<span id="textAddtRelation" th:text="#{textos.addtRelation}"></span>
	<span id="textAddNewSuperEntity" th:text="#{textos.addNewSuperEntity}"></span>
	<span id="textEditRelation" th:text="#{textos.editRelation}"></span>
	<span id="textEditAttribute" th:text="#{textos.editAttribute}"></span>
	<span id="textAddtEntity" th:text="#{textos.addEntity}"></span>
	<span id="textEditEntity" th:text="#{textos.editEntity}"></span>
	<span id="textEditSuperEntity" th:text="#{textos.editSuperEntity}"></span>
	<span id="textAddtAttribute" th:text="#{textos.addAttribute}"></span>
	<span id="textaddNewRelation" th:text="#{textos.addNewRelation}"></span>
	<span id="textaddNewRelationIsA" th:text="#{textos.addNewRelationIsA}"></span>
	<span id="textaddNewEntity" th:text="#{textos.addNewEntity}"></span>
	<span id="textcreateDomain" th:text="#{textos.createDomain}"></span>
	<span id="textAddEntitytoRelation" th:text="#{textos.addEntitytoRelation}"></span>
	<span id="textRemoveEntitytoRelation" th:text="#{textos.removeEntitytoRelation}"></span>
	<span id="textEditCardOrRol" th:text="#{textos.editCardOrRol}"></span>
	<span id="textAddSubAtributte" th:text="#{textos.addSubAtributte}"></span>
	<span id="textAddParentEntity" th:text="#{textos.addParentEntity}"></span>
	<span id="textRemoveParentEntity" th:text="#{textos.removeParentEntity}"></span>
	<span id="textAddChildEntity" th:text="#{textos.addChildEntity}"></span>
	<span id="textRemoveChildEntity" th:text="#{textos.removeChildEntity}"></span>
	<span id="textFileInvalid" th:text="#{textos.fileInvalid}"></span>
	<span id="textDragHere" th:text="#{textos.dragHere}"></span>
	<span id="textSave" th:text="#{textosId.save}"></span>
	<span id="textNecesaryRol" th:text="#{textosId.necesaryRol}"></span>
	<span id="textInsert" th:text="#{textos.insert}"></span>
	<span id="textRemove" th:text="#{textosId.remove}"></span>
	<span id="textCreateStrongEntity" th:text="#{textosId.createStrongEntity}"></span>
	<span id="textNoUndoActions" th:text="#{textosId.noUndoActions}"></span>
	<span id="textNoRedoActions" th:text="#{textosId.noRedoActions}"></span>
	<span id="textErrorAggrInsideAggr" th:text="#{textos.errorAggrInsideAggr}"></span>
	<span id="textErrorCreatingAggr" th:text="#{textos.errorCreatingAggr}"></span>
	<span id="textErrorRelationAggr" th:text="#{textos.errorRelationAggr}"></span>
	<span id="textErrorNumberRelations" th:text="#{textos.errorNumberRelations}"></span>
	<span id="deleteSuperEntity" th:text="#{textos.addTextDeleteSuper}"></span>
	<span id="textAddSuperEntity" th:text="#{textos.addSuperEntity}"></span>
	<span id="textCerrarArchivo" th:text="#{textosId.cerrarArchivo}"></span>
	<span id="textAccept" th:text="#{textosId.accept}"></span>
</div>