<div class="d-none">

    <div class="d-none" id="templateSelectAddConstraints" type="text/x-jquery-tmpl">
        <div class="form-row w-100" id="uniqueField${temp_unique}">
            <div class="form-group mb-0 mt-2 col-10 col-md-10">
                <input type="text" name="listText[]" class="form-control" value="${temp_value}">
            </div>
            <div class="form-group col-2 mt-2 mb-0 col-md-2">
                <button type="button" class="btn btn-block btn-dark removeList" id="" value="${temp_unique}">-</button>
            </div>
        </div>
    </div>
    <div class="d-none" id="templateAddConstraints" type="text/x-jquery-tmpl">
        <form id="formInsert">
            <div class="col-12">
                <div class="form-group overflow-auto" id="inputList" style="height: 250px;">
                    <div class="form-row w-100">
                        <div class="form-group mb-0 mt-2 col-12 col-md-12">
                            <input type="text" name="listText[]" class="form-control" id="list0">
                        </div>
                    </div>
                    <input type="hidden" id="tipoAdd" value="addConstraints">
                    <input type="hidden" id="typeAction" value="create">
                    <input type="hidden" id="totalInputs" value="0">
                    <input type="hidden" id="idSelected" value="${temp_node_select}">
                </div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-lg btn-block btn-dark" id="addListSelectConst">+</button>
            </div>
        </form>
    </div>

    <div class="d-none" id="templateAddEntity" type="text/x-jquery-tmpl">
        <form id="formInsert">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label" th:text="#{item.nombre}"></label>
                <input type="text" class="form-control" id="recipient-name">
                <div class="invalid-feedback" th:text="#{textos.errorNameExist}"></div>
                <input type="hidden" id="tipoAdd" value="addEntity">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
                <input type="hidden" id="ent_length" value="${temp_ent_length}">
            </div>
            <div class="form-inline">
                <label for="weak-entity"><input type="checkbox" class="mr-1" id="weak-entity"
                                                th:text="#{textos.isAEntityWeak}"></label>
            </div>
            <div class="form-group" id="tempWeakEntity" style="display:none;">
                <label for="element" class="col-form-label" th:text="#{textosId.selectStrongEntity}"></label>
                <select id="element" class="form-control">
                    {{each(i,v) temp_nodes}}
                    {{if temp_node_select!=v.id}}
                    <option value="${v.id}">${v.label}</option>
                    {{/if}}
                    {{/each}}
                </select>
                <label for="relationEntity" class="col-form-label" th:text="#{textosId.relation}"></label>
                <input type="text" class="form-control" id="relationEntity">
                <div class="invalid-feedback" th:text="#{textos.errorNameExist}"></div>
            </div>
        </form>
    </div>

    <div class="d-none" id="templateAddRelation" type="text/x-jquery-tmpl">
        <form id="formInsert">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label" th:text="#{item.nombre}"></label>
                <input type="text" class="form-control" id="recipient-name">
                <div class="invalid-feedback" th:text="#{textos.errorNameExist}"></div>
                <input type="hidden" id="tipoAdd" value="addRelation">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
    </div>

    <div class="d-none" id="templateDownloadFile" type="text/x-jquery-tmpl">
        <form id="formInsert">
            <div class="row">
                <div class="col-12 text-center">
                    <a id="urlFile" href="" download>
                        <button type="button" class="btn btn-dark" th:text="#{textos.download}"></button>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div class="d-none" id="templateAddLoadFile" type="text/x-jquery-tmpl">
        <form id="formInsert" method="POST" enctype="multipart/form-data" action="/readFile">
            <input type="file" class="form-control-file d-none" name="file" id="file">
            <div class="upload-area border" style="height: 140px;" id="uploadfile">
                <p class="h5 text-center mt-5" id="textoFileDrag" th:text="#{textos.dragDropText}"></p>
            </div>
        </form>
    </div>

    <div class="d-none" id="templateAddAtribute" type="text/x-jquery-tmpl">
        {{if temp_node_length==0 }}
        <p class="text-center" th:text="#{textos.notEntitysRelation}"></p>
        {{else}}
        <form id="formInsert">
            <div class="form-group">
                <label for="element" class="col-form-label" th:text="#{textos.elements}"></label>
                <select id="element" class="form-control">
                    {{each(i,v) temp_nodes}}
                    {{if v.id == temp_node_select }}
                    <option value="${v.id}" selected>${v.label}</option>
                    {{else}}
                    <option value="${v.id}">${v.label}</option>
                    {{/if}}
                    {{/each}}
                </select>
                <label for="recipient-" class="col-form-label" th:text="#{item.nombre}"></label>
                <input type="text" class="form-control" id="recipient-name">
                <div class="invalid-feedback" th:text="#{textos.errorNameExist}"></div>
                {{if temp_node_select }}
                {{if temp_type_item == "diamond" }}
                <div class="form-inline d-none">
                    <label for="primaryKey"><input type="checkbox" class="mr-1" id="primaryKey"
                                                   th:text="#{textos.primaryKey}"></label>
                </div>
                {{else}}
                <div class="form-inline">
                    <label for="primaryKey"><input type="checkbox" class="mr-1" id="primaryKey"
                                                   th:text="#{textos.primaryKey}"></label>
                </div>
                {{/if}}
                {{else}}
                <div class="form-inline">
                    <label for="primaryKey"><input type="checkbox" class="mr-1" id="primaryKey"
                                                   th:text="#{textos.primaryKey}"></label>
                </div>
                {{/if}}
                <div class="form-inline">
                    <label for="composite"><input type="checkbox" class="mr-1" id="composite"
                                                  th:text="#{textos.composite}"></label>
                </div>
                <div class="form-inline">
                    <label for="notNull"><input type="checkbox" class="mr-1" id="notNull" th:text="#{textos.notNull}"
                                                checked></label>
                </div>
                <div class="form-inline">
                    <label for="unique"><input type="checkbox" class="mr-1" id="unique"
                                               th:text="#{textos.unique}"></label>
                </div>
                <div class="form-inline">
                    <label for="multivalued"><input type="checkbox" class="mr-1" id="multivalued"
                                                    th:text="#{textos.multivalued}"></label>
                </div>
                <label for="domain" class="col-form-label" th:text="#{textos.domain}"></label>
                <select id="domain" class="form-control">
                    {{each(i,v) temp_types}}
                    {{if v.value == "VARCHAR" }}
                    <option value='${v.id}' selected>${v.value}</option>
                    {{else}}
                    <option value='${v.id}'>${v.value}</option>
                    {{/if}}
                    {{/each}}
                </select>
                <label for="size" class="col-form-label" th:text="#{textos.size}"></label>
                <input type="number" class="form-control" id="size" value=20>
                <input type="hidden" id="tipoAdd" value="addAttribute">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
        {{/if}}
    </div>

    <div class="d-none" id="templateAddSubAtribute" type="text/x-jquery-tmpl">
        <form id="formInsert">
            <div class="form-group">
                <label for="element" class="col-form-label" th:text="#{textos.elements}"></label>
                <input type="hidden" id="element" value="${temp_node_select}"/>
                <label for="recipient-" class="col-form-label" th:text="#{item.nombre}"></label>
                <input type="text" class="form-control" id="recipient-name">
                <div class="invalid-feedback" th:text="#{textos.errorNameExist}"></div>
                <div class="form-inline">
                    <label for="composite"><input type="checkbox" class="mr-1" id="composite"
                                                  th:text="#{textos.composite}"></label>
                </div>
                <div class="form-inline">
                    <label for="notNull"><input type="checkbox" class="mr-1" id="notNull" th:text="#{textos.notNull}"
                                                checked></label>
                </div>
                <div class="form-inline">
                    <label for="unique"><input type="checkbox" class="mr-1" id="unique"
                                               th:text="#{textos.unique}"></label>
                </div>
                <div class="form-inline">
                    <label for="multivalued"><input type="checkbox" class="mr-1" id="multivalued"
                                                    th:text="#{textos.multivalued}"></label>
                </div>
                <label for="domain" class="col-form-label" th:text="#{textos.domain}"></label>
                <select id="domain" class="form-control">
                    {{each(i,v) temp_types}}
                    {{if v.value == "VARCHAR" }}
                    <option value='${v.id}' selected>${v.value}</option>
                    {{else}}
                    <option value='${v.id}'>${v.value}</option>
                    {{/if}}
                    {{/each}}
                </select>
                <label for="size" class="col-form-label" th:text="#{textos.size}"></label>
                <input type="number" class="form-control" id="size" value=20>
                <input type="hidden" id="tipoAdd" value="addSubAtribute">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
    </div>

    <div class="d-none" id="templateAddEntitytoRelation" type="text/x-jquery-tmpl">
        {{if temp_node_length==0 || temp_aux_node_length==0}}
        <p class="text-center" th:text="#{textos.notEntitys}"></p>
        {{else}}
        {{if temp_editCorrect}}
        <p class="text-center" th:text="#{textos.addEntitytoRelation}"></p>
        {{else}}
        <form id="formInsert">
            <div class="form-group">

                <label for="element" class="col-form-label" th:text="#{item.entity}"></label>
                <select id="element" class="form-control">

                    {{each(i,v) temp_nodes}}
                    {{if temp_id_superEntity!=v.id}}
                    {{if temp_option_selection==v.id}}
                    <option value='${v.id}' selected>${v.label}</option>
                    {{else}}
                    <option value='${v.id}'>${v.label}</option>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </select>

                <label for="element_role" id="element_role_label" class="col-form-label d-none"
                       th:text="#{item.relation}"></label>
                <select id="element_role" class="form-control d-none">
                    {{each(i,v) temp_node_roles}}
                    {{if temp_option_selection_roles==v.id}}
                    <option value='${v.id}' selected>${v.label} - ${v.asoc} - ${v.role}</option>
                    {{else}}
                    <option value='${v.id}'>${v.label} - ${v.asoc} - ${v.role}</option>
                    {{/if}}
                    {{/each}}
                </select>
                <label for="recipient-" class="col-form-label" th:text="#{textos.cardinality}"></label>
                {{if temp_cardinalidad1}}
                <div class="form-inline">
                    <input class="" type="radio" name="cardinality" id="max1" value="max1" checked>
                    <label class="form-check-label" for="max1">
                        &nbsp;1
                    </label>
                </div>
                <div class="form-inline">
                    <input class="" type="radio" name="cardinality" id="maxN" value="maxN">
                    <label class="form-check-label" for="maxN">
                        &nbsp;N
                    </label>
                </div>
                {{else}}

                <div class="form-inline">
                    <input class="" type="radio" name="cardinality" id="max1" value="max1">
                    <label class="form-check-label" for="max1">
                        &nbsp;1
                    </label>
                </div>
                <div class="form-inline">
                    <input class="" type="radio" name="cardinality" id="maxN" value="maxN" checked>
                    <label class="form-check-label" for="maxN">
                        &nbsp;N
                    </label>
                </div>
                {{/if}}
                {{if temp_min == 0}}
                <label for="recipient-" class="col-form-label" th:text="#{textos.participacion}"></label>
                <div class="form-inline">
                    <input class="" type="radio" name="participation" id="parcial" value="parcial" checked>
                    <label class="form-check-label" for="parcial">
                        &nbsp;Parcial
                    </label>
                </div>
                <div class="form-inline">
                    <input class="" type="radio" name="participation" id="total" value="total">
                    <label class="form-check-label" for="total">
                        &nbsp;Total
                    </label>
                </div>
                {{else}}
                <label for="recipient-" class="col-form-label" th:text="#{textos.participacion}"></label>
                <div class="form-inline">
                    <input class="" type="radio" name="participation" id="parcial" value="parcial">
                    <label class="form-check-label" for="parcial">
                        &nbsp;Parcial
                    </label>
                </div>
                <div class="form-inline">
                    <input class="" type="radio" name="participation" id="total" value="total" checked>
                    <label class="form-check-label" for="total">
                        &nbsp;Total
                    </label>
                </div>
                {{/if}}
                <div class="form-inline">
                    <label class="form-check-label mt-1 font-weight-bold" th:text="#{textos.participation}">
                        Participación mínimo-máximo
                    </label>
                </div>
                {{if temp_minMax}}
                <div class="form-inline">
                    <input class="" type="checkbox" name="cardinality1" id="minMax" value="minMax" checked>
                    <label for="minMax" class="row form-check-label col-11 pl-3 justify-content-start">
                        &nbsp;Min <input type="text" id="minCardinality" class="form-control col-2 ml-1 mr-1"
                                         value='${temp_min}'>
                        &nbsp;Max <input type="text" id="maxCardinality" class="form-control col-2 ml-1"
                                         value='${temp_max}'>
                    </label>
                </div>
                {{else}}
                <div class="form-inline">
                    <input class="" type="checkbox" name="cardinality1" id="minMax" value="minMax">
                    <label for="minMax" class="row form-check-label col-11 pl-3 justify-content-start">
                        &nbsp;Min <input type="text" id="minCardinality" class="form-control col-2 ml-1 mr-1" disabled>
                        &nbsp;Max <input type="text" id="maxCardinality" class="form-control col-2 ml-1" disabled>
                    </label>
                </div>
                {{/if}}
                <label for="domain" class="col-form-label" th:text="#{textos.roleName}"></label>
                {{if temp_hayRol}}
                <input type="text" class="form-control" id="roleName" value='${temp_rol}'>
                {{else}}
                <input type="text" class="form-control" id="roleName">
                {{/if}}
                <input type="hidden" id="tipoAdd" value="addEntitytoRelation">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
        {{/if}}
        {{/if}}

    </div>

    <div class="d-none" id="templateRemoveEntitytoRelation" type="text/x-jquery-tmpl">
        {{if temp_node_length==0 }}
        <p class="text-center" th:text="#{textos.notEntitys}"></p>
        {{else}}
        <form id="formInsert">
            <div class="form-group">
                <label for="element" class="col-form-label" th:text="#{textos.quitTheEntity}"></label>
                <select id="element" class="form-control">
                    {{each(i,v) temp_nodes}}
                    <option value='${v.id}'>${v.label} - ${v.asoc} - ${v.role}</option>
                    {{/each}}
                </select>
                <input type="hidden" id="tipoAdd" value="removeEntitytoRelation">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
        {{/if}}
    </div>

    <div class="d-none" id="templateCreateDomain" type="text/x-jquery-tmpl">
        <form id="formInsert">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label" th:text="#{item.nombre}"></label>
                <input type="text" class="form-control" id="recipient-name">
                <div class="invalid-feedback" th:text="#{textos.errorNameExist}"></div>
                <label for="types" class="col-form-label" th:text="#{item.type}"></label>
                <select id="types" class="form-control">
                    {{each(i,v) temp_types}}
                    <option value='${v.id}'>${v.value}</option>
                    {{/each}}
                </select>
                <label for="values_separated" class="col-form-label" th:text="#{textos.valuesSeparated}"></label>
                <input type="text" class="form-control" id="values_separated">
                <input type="hidden" id="tipoAdd" value="addDomain">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
    </div>

    <div class="d-none" id="templateSelectTableUnique" type="text/x-jquery-tmpl">
        <div class="form-row w-100" id="uniqueField${temp_unique}">
            <div class="form-group mb-0 mt-2 col-3 col-md-2">
                <label class="h5">Unique</label>
            </div>
            <div class="form-group mb-0 mt-1 col-7 col-md-8">
                <select class="form-control select-multiple" id="listTextUnique${temp_unique}"
                        name="listTextUnique${temp_unique}[]" multiple>
                    {{each(i,v) temp_nodes}}
                    <option value="atribute_${v.id}">${v.label}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-2 mt-1 mb-0 col-md-2">
                <button type="button" class="btn btn-block btn-dark removeList" id="" value="${temp_unique}">-</button>
            </div>
        </div>
    </div>
    <div class="d-none" id="templateAddUniqueKey" type="text/x-jquery-tmpl">
        {{if temp_node_length==0 }}
        <p class="text-center" th:text="#{textos.notAttribute}"></p>
        {{else}}
        <form id="formInsert">
            <div class="col-12">
                <div class="form-group overflow-auto" id="inputList" style="height: 250px;">
                    <div class="form-row w-100">
                        <div class="form-group mb-0 mt-2 col-3 col-md-2">
                            <label class="h5">Unique</label>
                        </div>
                        <div class="form-group mb-0 mt-1 col-7 col-md-8">
                            <select class="form-control select-multiple" id="listTextUnique0" name="listTextUnique0[]"
                                    multiple>
                                {{each(i,v) temp_nodes}}
                                <option value="atribute_${v.id}">${v.label}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-2 mt-1 mb-0 col-md-2">
                        </div>
                    </div>
                    <input type="hidden" id="tipoAdd" value="addTableUnique">
                    <input type="hidden" id="typeAction" value="create">
                    <input type="hidden" id="totalInputs" value="0">
                    <input type="hidden" id="idSelected" value="${temp_node_select}">
                </div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-lg btn-block btn-dark" id="addListUnique">+</button>
            </div>
        </form>
        {{/if}}
    </div>

    <div class="d-none" id="templateAddEntityParent" type="text/x-jquery-tmpl">
        {{if temp_node_length==0 }}
        <p class="text-center" th:text="#{textos.notEntitys}"></p>
        {{else}}
        {{if temp_exist_parent }}
        <p class="text-center" th:text="#{textos.existParent}"></p>
        {{else}}
        <form id="formInsert">
            <div class="form-group">
                <label for="element" class="col-form-label" th:text="#{item.entity}"></label>
                <select id="element" class="form-control">
                    {{each(i,v) temp_nodes}}
                    <option value='${v.id}'>${v.label}</option>
                    {{/each}}
                </select>
                <input type="hidden" id="tipoAdd" value="addEntityParent">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
        {{/if}}
        {{/if}}
    </div>
    <div class="d-none" id="templateAddEntityChild" type="text/x-jquery-tmpl">
        {{if temp_node_length==0 }}
        <p class="text-center" th:text="#{textos.notEntitys}"></p>
        {{else}}
        <form id="formInsert">
            <div class="form-group">
                <label for="element" class="col-form-label" th:text="#{item.entity}"></label>
                <select id="element" class="form-control">
                    {{each(i,v) temp_nodes}}
                    {{if v.id != temp_numIdParent}}
                    <option value='${v.id}'>${v.label}</option>
                    {{/if}}
                    {{/each}}
                </select>
                <input type="hidden" id="tipoAdd" value="addEntityChild">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
        {{/if}}
    </div>
    <div class="d-none" id="templateRemoveChildEntity" type="text/x-jquery-tmpl">
        {{if temp_node_length==0 }}
        <p class="text-center" th:text="#{textos.notEntitysChild}"></p>
        {{else}}
        <form id="formInsert">
            <div class="form-group">
                <label for="element" class="col-form-label" th:text="#{item.entity}"></label>
                <select id="element" class="form-control">
                    {{each(i,v) temp_nodes}}
                    <option value='${v.id}'>${v.labelChild}</option>
                    {{/each}}
                </select>
                <input type="hidden" id="tipoAdd" value="removeChildEntity">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
        {{/if}}
    </div>
    <div class="d-none" id="templateAbout" type="text/x-jquery-tmpl">
        <h2 class="text-center font-weight-bold" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'">DBCASE
            Web</h2>
        <p class="text-center font-weight-bold" th:text="#{textos.about1}"
           th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></p>
        <hr>
        <p><strong th:text="#{textos.about2}" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></strong>
        </p>
        <ul class="text-center">
            <li>Fernando Sáenz Pérez <a class="ml-2" href="mailto:fernan@sip.ucm.es"><i class="fa fa-envelope"
                                                                                        aria-hidden="true"
                                                                                        th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></i></a>
            </li>
        </ul>
        <p th:text="#{textos.about3}" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></p>
        <ul class="text-center">
            <li>Luis Eduardo Paucar Cerrón</li>
            <li>David Conde Cubas</li>
        </ul>
        <hr>
        <p><strong th:text="#{textos.about4}" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></strong>
        </p>
        <p class="text-center font-weight-bold" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'">DBCASE
            2.0 (2018/2019)</p>
        <p th:text="#{textos.about5}" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></p>
        <ul class="text-center">
            <li>Miguel Arriba García</li>
        </ul>
        <hr>
        <p class="text-center font-weight-bold" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'">DBCASE
            1.0 - Sistemas Informáticos (2008/2009)</p>
        <p th:text="#{textos.about3}" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></p>
        <ul class="text-center">
            <li>Rodrigo Denis Cepeda Mateos</li>
            <li>Cristina Marco de Francisco</li>
            <li>Tello Serrano Gordillo</li>
        </ul>
        <hr>
        <p class="text-center font-weight-bold" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'">DBDT 1.0
            - Sistemas Informáticos (2007/2008)</p>
        <p th:text="#{textos.about3}" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></p>
        <ul class="text-center">
            <li>Alberto Milán Gutiérrez</li>
            <li>Miguel Martínez Segura</li>
            <li>Francisco Javier Cáceres González</li>
            <li><strong th:text="#{textos.about7}"
                        th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></strong>: Yolanda García Ruiz
            </li>
        </ul>
        <hr>
        <p th:text="#{textos.about6}" th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'"></p>
        <p th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'">Facultad de Informática. Universidad
            Complutense de Madrid</p>
    </div>

    <div class="d-none" id="templateElementEntity" type="text/x-jquery-tmpl">
        <div class="">
            <div class="">
                <a class="card-link" data-toggle="collapse" href="#collapse${idE}">
                    <img src="static/images/entidad-small.png" class="rounded"><span class="pl-1"
                                                                                     th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'">${nameE}</span>
                </a>
            </div>
            <div id="collapse${idE}" class="collapse" data-parent="#accordion">
                <div id="childs-attribute${idE}" class="card-body pt-1 pb-1 pr-0 pl-3">
                </div>
            </div>
        </div>
    </div>

    <div class="d-none" id="templateElementRelation" type="text/x-jquery-tmpl">
        <div class="">
            <div class="">
                <a class="card-link" data-toggle="collapse" href="#collapse${idE}">
                    <img src="static/images/diamond-small.png" class="rounded"><span class="pl-1"
                                                                                     th:classappend="${theme=='dark'} ? 'text-white' : 'text-dark'">${nameE}</span>
                </a>
            </div>
            <div id="collapse${idE}" class="collapse" data-parent="#accordion2">
                <div id="childs-attribute${idE}" class="card-body pt-1 pb-1 pr-0 pl-3">
                </div>
            </div>
        </div>
    </div>

    <div class="d-none" id="templateSuperEntity" type="text/x-jquery-tmpl">
        <p class="text-center">
            <button id="deleteSuper1" type="button" class="btn btn-primary btn-lg mb-3" style="font-size: 13px;"
                    th:text="#{textos.deleteSuper1}"></button>
        </p>
        <p class="text-center">
            <button id="deleteSuper2" type="button" class="btn btn-primary btn-lg" style="font-size: 13px;"
                    th:text="#{textos.deleteSuper2}"></button>
        </p>
        <input type="hidden" id="typeAction" value="create">
        <input type="hidden" id="idSelected" value="${temp_node_select}">
    </div>

    <div class="d-none" id="templateAddSuperEntity" type="text/x-jquery-tmpl">
        <form id="formInsert">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label" th:text="#{item.nombre}"></label>
                <input type="text" class="form-control" id="recipient-name">
                <div class="invalid-feedback" th:text="#{textos.errorNameExist}"></div>
                <input type="hidden" id="tipoAdd" value="addSuperEntity">
                <input type="hidden" id="typeAction" value="create">
                <input type="hidden" id="idSelected" value="${temp_node_select}">
            </div>
        </form>
    </div>
</div>